/*header start*/
.header {
	background-color: #101010;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}
.header-logo a{
	text-decoration: none;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
}
.header-menu ul li a {
	color: #999;
}
.header-menu ul li a:hover {
	color: #000;
}
.header-menu ul li ul li a {
	color: #000;
}
.header-regime {
	margin-left: auto;
}
.header-regime a {

}
/*header end*/


.book-content .list-view .page-nav:before {
  content: "";
  display: table;
  clear: both;
}